android/laravel-android-pt2/.gradle
android/laravel-android-pt2/.idea
android/laravel-android-pt2/build
android/laravel-android-pt2/gradle
angularjs/angular-1.5/.tmp
angularjs/angular-1.5/conf
angularjs/angular-1.5/gulp_tasks
angularjs/angular-1.5/node_modules
composer/course/vendor
java/java-oo/.idea
java/java-oo/out
java/javaNative/.idea
java/javaNative/target
laravel/5.3/iniciando-com-laravel53/.idea
laravel/5.3/iniciando-com-laravel53/vendor
laravel/5.3/iniciando-com-laravel53/.env
laravel/eloquent/.idea
laravel/eloquent/eloquent/vendor
laravel/eloquent/eloquent/.env
laravel/ionic2-pagseguro-rc/.idea
laravel/ionic2-pagseguro-rc/vendor
laravel/ionic2-pagseguro-rc/.env
laravel/laravel-android-api/.settings
laravel/laravel-android-api/vendor
laravel/laravel-android-api/.env
laravel/laravel-android-parte-1/vendor
laravel/laravel-android-parte-1/.env
lumen/CodeAgenda/node_modules
lumen/CodeAgenda/vendor
lumen/CodeAgenda/.env
lumen/lumen/node_modules
lumen/lumen/vendor
lumen/lumen/.env
php/composer-test
php/php-oo-avancado/vendor
php/solid/vendor
php/php-jwt-biblioteca/vendor
vuejs/vue2/.idea
vuejs/vue2/node_modules

